<?xml version="1.0" encoding="UTF-8"?>
<plansza>
	<nieruchomosc id="0">
		<cenaPola>240</cenaPola>
		<cenaDomu>150</cenaDomu>
		<czynsz0>20</czynsz>
		<czynsz1>100</czynsz1>
		<czynsz2>300</czynsz2>
		<czynsz3>750</czynsz3>
		<czynsz4>925</czynsz4>
		<czynsz5>1100</czynsz5>
	</nieruchomosc>
</plansza>